<h2>Employee</h2>

<form action=" <%= '/employees/' + emp.employee_id + '/edit' %>" method="POST">
  <div>
    <label class="form-label">
      Employee ID:
      <input
        class="form-control"
        type="text"
        name="employee_id"
        value="<%= emp.employee_id %>"
        disabled
      />
    </label>
  </div>
  <div>
    <label class="form-label">
      Title:
      <input
        class="form-control"
        type="text"
        name="title"
        value="<%= emp.title %>"
      />
    </label>
  </div>

  <div>
    <label class="form-label">
      Hired On:
      <input
        class="form-control"
        type="text"
        name="hired_date"
        value="<%= emp.hired_date %>"
      />
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Edit</button>
  <a
    class="btn btn-danger"
    href="<%= '/employees/' + emp.employee_id + '/delete' %>"
    >Delete</a
  >
</form>
